<launch>
  <arg
    name="gui"
    default="False" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find fam)/rviz_cfg/text_simulation.rviz"
    />
  <node
    name="talker"
    pkg="fam"
    type="talker" 
    output="screen"/>
  <node
    name="qtui"
    pkg="qtui"
    type="qtui"/>
</launch>
